<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <!-- Navigation/Site header -->
    <nav class="navbar navbar-expand-md navbar-dark mb-2 mb-md-4">
        <div class="container">
            <!-- Application name/Logo -->
            @Html.ActionLink("BlogApp", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Navigation buttons -->
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item @(ViewBag.selectedItem == "about" ? "active" : "")">
                        @Html.ActionLink("About", "About", new { controller = "Home" }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item @(ViewBag.selectedItem == "contact" ? "active" : "")">
                        @Html.ActionLink("Contact", "Contact", new { controller = "Home" }, new { @class = "nav-link" })
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
        <!-- /.container-->
    </nav>
    <!-- ./navbar -->

    <!-- Main content-->
    <div class="container" role="main">
        <div class="row">
            <!-- Left sidebar -->
            @Html.Action("Sidebars", "Home")
            <!-- Main body content -->
            @RenderBody()
        </div>
        <!-- /.row -->
        <hr />
    </div>

    <footer class="container">
        <p>&copy; @DateTime.Now.Year - BlogApp</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
