@model BlogApp.Data.Post

<!-- Blog post -->
<div class="card border-magenta">
    <div class="card-body d-flex flex-column align-items-start">
        <!-- Post's category -->
        <strong class="d-inline-block mb-2 text-magenta">@Model.Category.Name</strong>
        <!-- Post's title -->
        <h3 class="mb-0">
            @Html.ActionLink(Model.Title, "Index", "Post",
                new { year = Model.PostedOn.Year, month = Model.PostedOn.Month, titleSlug = Model.UrlSlug},
                new { @class = "text-dark"})
        </h3>
        <!-- Post's meta -->
        <div class="mb-1 text-muted">@Model.PostedOn.ToLocalTime().ToLongDateString()</div>
        <!-- Post's short description -->
        <p class="card-text mb-2">@Model.Description</p>
        <!-- Link to the full post -->
        @Html.ActionLink("Read more...", "Index", "Post",
            new { year = Model.PostedOn.Year, month = Model.PostedOn.Month, titleSlug = Model.UrlSlug },
            new { @class = "btn btn-primary", title = "Read more..." })
    </div>
</div>
