@model BlogApp.Data.Post
@using BlogApp.HtmlHelpers

@{
    ViewBag.Title = Model.Title;
}

<!-- Blog post -->
<div class="col-md-8">
    <div class="card border-magenta">
        <div class="card-body">
            <!-- Post's category -->
            <strong class="d-inline-block mb-2 text-magenta">@Model.Category.Name</strong>
            <!-- Post's title -->
            <h3 class="mb-0 text-dark">@Model.Title</h3>
            <!-- Posts'meta -->
            <ul class="list-inline">
                <li class="list-inline-item text-muted">
                    <!-- Post's published date -->
                    <span class="fas fa-calendar-alt fa-sm"></span>
                    @Model.PostedOn.ToLocalTime().ToShortDateString()
                </li>
                <li class="list-inline-item text-muted">
                    <!-- Post's tags -->
                    <span class="fas fa-tags fa-sm"></span>
                    @foreach (var tag in Model.Tags)
                    {
                        @Html.TagLink(tag, "text-muted pr-1")
                    }
                </li>
                <li class="list-inline-item text-muted float-right">
                    <!-- Comments count -->
                    <span class="fas fa-comments"></span>
                    <a href="@string.Format("{0}#disqus_thread", Model.Href(Url))">Comments</a>
                </li>
            </ul>
            <!-- /.list-inline -->
            <!-- Share links -->
            @Html.Partial("_AddThis")
            <!-- Post's content -->
            <p class="card-text">@Model.Content</p>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <!-- Include Disqus -->
            @Html.Partial("_Disqus")
        </div>
        <!-- /.card-footer -->
    </div>
    <!-- /.card -->
</div>
<!-- /.col-md-8 -->


