@model BlogApp.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Confirm external login";
}

<div class="col-md-8">
    @using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "card border-magenta", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="card-header">
            Associate your @ViewBag.LoginProvider account.
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <p class="text-dark text-center">
                You've successfully authenticated with <strong>@ViewBag.LoginProvider</strong>.
                Please enter a user name for this site below and click the Register button to finish
                logging in.
            </p>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.UserName, new { @class = "col-md-3 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "Enter user name" })
                    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                </div>
            </div>
            <!-- /.form-group -->
            @Html.HiddenFor(m => m.Email)
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" class="btn btn-primary" value="Register" />
                </div>
            </div>
            <!-- /.form-group -->
        </div>
        <!-- /.card-body -->
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
