@model BlogApp.Data.Post
@using BlogApp.HtmlHelpers

@{ 
    ViewBag.Title = Model.Title;
    ViewBag.Keywords = string.Join(" ", Model.Tags.Select(t => t.Name).ToArray());
}

<!-- Blog post -->
<div class="card border-magenta mb-3">
    <div class="card-body">
        <!-- Post's category -->
        <strong class="d-inline-block mb-2 text-magenta">@Model.Category.Name</strong>
        <!-- Post's title -->
        <h3 class="mb-0">
            @Html.PostLink(Model, "text-dark")
        </h3>
        <!-- Post's meta -->
        <ul class="list-inline">
            <li class="list-inline-item text-muted">
                <!-- Post's published date -->
                <span class="fas fa-calendar-alt fa-sm"></span>
                @Model.PostedOn.ToLocalTime().ToShortDateString()
            </li>
            <li class="list-inline-item text-muted">
                <!-- Post's tags -->
                <span class="fas fa-tags fa-sm"></span>
                @foreach (var tag in Model.Tags)
                {
                    @Html.TagLink(tag, "text-muted pr-1")
                }
            </li>
            <li class="list-inline-item text-muted float-right">
                <!-- Comments count -->
                <span class="fas fa-comments"></span>
                <a href="@string.Format("{0}#disqus_thread", Model.Href(Url))">Comments</a>
            </li>
        </ul>
        <!-- /.list-inline -->
        <!-- Post's short description -->
        <p class="card-text mb-2">@Model.Description</p>
        <!-- Link to the full post -->
        @Html.ActionLink("Read more...", "Index", "Post",
            new { year = Model.PostedOn.Year, month = Model.PostedOn.Month, titleSlug = Model.UrlSlug },
            new { @class = "btn btn-primary", title = "Read more..." })
    </div>
</div>
